{% load humanize %}
{% load static %}
{% load bootstrap_icons %}
{% load cart_extras %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='{% static "styles.css" %}'>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class='container'>
    <div class='card mt-5'>
        <div class='card-header'><h3>Shopping Cart</h3></div>
        <div class='card-body'>
            {% for item in cart.items %}
            <div class='d-flex m-2'>
                <img class='product-image' src='{{ item.product.pic }}' alt='{{ "image of "|addstr:item.product.name }}' />
                <div class='d-block ms-2 w-100'>
                    <div>
                        <div class='d-flex justify-content-between'>
                            <span class='fw-bold'>{{ item.product.name }}</span>
                            <span class='text-end'>{{ item.product.price|intcomma }}</span>
                        </div>
                    </div>
                    <div>
                        <small class='m-2'>
                            {{ item.product.vendor }} | {{ item.product.description }}
                        </small>
                    </div>
                    <div class='d-inline-flex align-items-center m-2'>
                        {% with id='cart-quantity-'|addstr:item.id %}
                        <label for='{{ id }}' class='form-label'><small>Quantity</small></label>
                        <input id='{{ id }}' class='form-control form-control-sm mx-2 w-25' type='number' min=1 value={{ item.quantity }} />
                        {% endwith %}
                        {% bs_icon 'trash' %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <hr />
            <div>
                {% with tax=cart.total|mul:tax_rate %}
                <div class='d-flex justify-content-between'>
                    <span>Subtotal:</span>
                    <span>{{ cart.total|floatformat:2|intcomma }}<span>
                </div>
                <div class='d-flex justify-content-between'>
                    <span>Tax:</span>
                    <span>{{ tax|floatformat:2|intcomma }}<span>
                </div>
                <div class='d-flex justify-content-between'>
                    <span class='fw-bold'>Total:</span>
                    <span class='fw-bold'>{{ cart.total|addnum:tax|floatformat:2|intcomma }}<span>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
</div>
</body>
